/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    background-color: hsla(341, 100%, 84%, 0.3);
}
header {
    background-color: black;
    height: 7vh;
}
nav > ul  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
nav > ul > li {
    padding: 1em 1em;
    font-family: 'prata';
}
nav > ul > li a {
    text-decoration: none;
    color: white;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end;
}
nav > h3 {
    color: white;
    font-size: 2.75em;  
}
main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100vw;
    height: 50vh;
}
header + section {
    background-image: url("assets/css/images/makeup-brush-set.jpeg"); 
    background-size: 135% auto;
    background-repeat: no-repeat;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
    border-bottom-right-radius: 100%;
}
h1 {
    font-size: 5rem;
    font-weight: 200;
    width: 60%;
    align-self: center;
    color: white;
    text-shadow: black 0px 0px 2px;
    margin: .8em 0 0 0;
}
main > a {
    margin: 50px 100px 100px 100px;
    padding-top: 10px;
    color: black;
    background-color: white;
    width: 9vw;
    height: 5vh;
    text-align: center;
}
main > section {
    width: 250px;
    height: 200px;
    background-color: black;
    color: white;
    border-radius: 30%;
    border: 3px solid pink;
    z-index: 1;
    align-self: flex-end;
}
main > section * {
    margin-left: 50px;
    font: bold 15px;
}
main > span {
    color: white;

}
main > section > span {
    padding: 25px 25px 25px 0;
    display: block;
}
main > section > p {
    font-size: 16px;
    line-height: 2em;
    padding-bottom: 30px;
}
main > section > a {
    margin-top: 2px;
    padding: 10px 0;
    background-color: white;
    color: black;
    width: 150px;
    display: inline-block;
    text-align: center;
}
a {
    text-decoration: none;
}
.threecompany {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-self: center;
    background-color: pink;
    border: 10px solid black;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    
}
.proArtist,.qualityService,.beautyProduct {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1.5em 0 1em 0;
}
.threecompany > section > img {
    height: 30%;
    width: 20%;
}
.threecompany h4 {
    font-size: 18px;
    font-weight: 650;
    padding: 1em 0;

}
.momentum {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1.5em;
    padding: 2em 0;
    background-color: black;
    color: pink;
}
.momentum > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3em 0 1em 0;
    align-self: center;
    width: 50vw;
}
.momentum > section *{
   margin-top: 2em;
}
.momentum h2 {
    font-size: 2em;
    width: 50%;
    margin-left: 2em;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.vl {
    border-left: 6px dotted black;
    height: 8em;
  }
.lookbook {
    padding: 2em 0;
    background-color: pink;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}
.momentum img {
    height: 70%;
    width: 70%;
    border-radius: 50%;
}
.lookbook h2 {
    color: black;
}
/* .lookbook img {
    height: 100vh;
    vertical-align: middle;
} */
.contact {
    padding: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact h2 {
    color: pink;
}
.contact p {
    text-align: center;
    width: 45%;

}
a:hover {
    color: pink;
}
p a {
    color: pink;
}
h1, h2, h3 {
    font-family: "Prata", serif;
}
h4 {
    font-size: 1.5em;
    font-weight: bolder;
}
.momentum h2, .lookbook h2,.contact h2  {
    font-size: 2em;
    width: 50%;
    margin-left: 2em;
    align-self: flex-start;
}

/* Slideshow container */
.slideshow-container {
    max-width: 50vw;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding:16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    /* border-radius: 50%; */
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  .mySlides img {
      margin-left: 10%;
      border-radius: 10%;
  }

  /* new media query*/
  @media only screen and (min-width: 737px) and (max-width: 840px) {
    nav > ul {
        display: none;
    }
    h1 {
        font-size: 2.5em;
    }
    header {
        height: 10vh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    nav > h3 {
        font-size: 1.5em;
    }
    header + section {
        border-bottom: 0;
        border-right: 0;
        border-bottom-right-radius: 0%;
    }
    .threecompany {
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
    }
    nav > ul {
        display: none;
    }
    main > section {
        display: none;
    }
}




  @media only screen and (min-width: 416px) and (max-width: 736px) {
    header {
        height: 10vh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    nav > h3 {
        font-size: 1.5em;
    }
    header + section {
        border-bottom: 0;
        border-right: 0;
        border-bottom-right-radius: 0%;
    }
    .threecompany {
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
    }
    nav > ul {
        display: none;
    }
    main > section {
        display: none;
    }
    h1 {
        font-size: 2em;
        width: 100vw;
    }
    .proArtist,.qualityService,.beautyProduct {
        width: 50%;
    }
  }

  @media only screen and (max-width: 415px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h1 {
          font-size: 1.8em;
          color: whitesmoke;
          width: 80vw;
          text-align: center;
    }
    header, main > section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav > h3 {
        color: white;
        font-size: 1.75em;  
        width: 100%;
    }
    header + section {
        border-bottom: 0;
        border-right: 0;
        border-bottom-right-radius: 0%;
    }
    nav > ul {
        display: none;
    }
    main > section {
        display: none;
    }
    .threecompany {
        flex-direction: column;
        align-items: center;
        margin-top: -4em;
    }
    .threecompany section {
        width: 50vw;
    }
    /* Slideshow container */
    .slideshow-container {
        max-width: 75vw;
        position: relative;
        margin: auto;
    }
  }
